.accordion__element {
  padding: 32px 0 20px 21px;
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);

  @include vp-1199 {
    padding: 52px 0 0 0;
  }

  @include vp-767 {
    padding: 0;
  }

  &.is-active .accordion__btn {
    background: url("../img/sprite/faq-btn-minus.svg") no-repeat;

    @include vp-767 {
      background-size: 32px;
    }
  }
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  color: $color-sapphire;

  h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    @include vp-767 {
      font-size: 18px;
      line-height: 120%;
      margin-top: 39px;
    }
  }
}

.accordion__btn {
  margin: 0;
  background: url("../img/sprite/faq-btn-plus.svg") no-repeat;
  background-position: center;
  min-width: 43px;
  min-height: 43px;
  border: 0;
  padding: 0;
  cursor: pointer;

  @include vp-767 {
    min-width: 32px;
    min-height: 32px;
    background: url("../img/sprite/faq-btn-plus-mobile.svg") no-repeat;
    background-size: 32px;
    margin-right: 0;
    margin-top: 50px;
  }

  &:hover {
    background: url("../img/sprite/faq-btn-plus-hover.svg") no-repeat;

    @include vp-767 {
      background-size: 32px;
    }
  }

  &:focus {
    background: url("../img/sprite/faq-btn-minus.svg") no-repeat;
    outline: none;

    @include vp-767 {
      background-size: 32px;
    }

    &:not(:hover) {
      background: url("../img/sprite/faq-btn-plus.svg") no-repeat;
    }
  }

  &:active {
    background: url("../img/sprite/faq-btn-minus.svg") no-repeat;

    @include vp-767 {
      background-size: 32px;
    }
  }
}

.accordion__content {
  overflow: hidden;
  color: $color-sapphire;

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    margin: 0;
    padding-right: 150px;

    @include vp-767 {
      font-size: 16px;
      line-height: 140%;
      padding-right: 0;
      margin-top: 7px;
    }
  }
}
