.accordion__element {
  padding: 25px 0;
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);

  &.is-active .accordion__btn {
    background: url("../img/sprite/faq-btn-minus.svg");
  }
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  color: $color-sapphire;

  h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}

.accordion__btn {
  margin: 0;
  background: url("../img/sprite/faq-btn-plus.svg") no-repeat;
  background-position: center;
  min-width: 43px;
  min-height: 43px;
  border: 0;
  padding: 0;
  cursor: pointer;

  &:hover {
    background: url("../img/sprite/faq-btn-plus-hover.svg") no-repeat;
  }

  &:focus {
    background: url("../img/sprite/faq-btn-minus.svg") no-repeat;
  }

  &:active {
    background: url("../img/sprite/faq-btn-minus.svg") no-repeat;
  }
}


.accordion__content {
  overflow: hidden;
  color: $color-sapphire;

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    margin: 0;
    margin-top: 14px;
    padding-right: 150px;
  }
}
