.form-and-contacts {
  display: flex;
  justify-content: space-between;
  place-content: center;
}

.form-and-contacts-wrapper {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;

  @include vp-1199 {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
