.gym {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 85px;
  justify-content: space-between;
  margin: 120px 0 235px 60px;
  color: $color-sapphire;
  position: relative;

  @include vp-1199 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 0 100px 0;
    gap: 36px;
  }

  @include vp-767 {
    margin: 60px 0 136px 0;
    text-align: left;
    gap: 30px;
  }
}

.gym__info {
  h2 {
    font-family: $ff-alumni-sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.44px;
    margin: 44px 0 13px;

    @include vp-1199 {
      font-size: 42px;
      line-height: normal;
      margin: 0;
    }

    @include vp-767 {
      font-size: 32px;
      letter-spacing: 0.96px;
      margin-bottom: 7px;
    }
  }

  span {
    font-family: $ff-roboto-condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    display: inline-block;
    margin-bottom: 35px;

    @include vp-1199 {
      margin-bottom: 34px;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }

  p {
    font-family: $ff-roboto-condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    text-align: left;
    margin-bottom: -18px;

    @include vp-1199 {
      max-width: 505px;
      text-align: center;
    }

    @include vp-767 {
      text-align: left;
    }

    &:last-of-type {
      @include vp-1199 {
        display: none;
      }
    }
  }
}

.gym__promo-wrapper {
  position: relative;
}

.gym__photo-wrapper {
  width: 660px;
  margin: 0 auto;

  @include vp-1199 {
    width: 100%;
  }
}

.gym__photo {
  background-color: $color-light-slate-grey;
  object-fit: cover;

  @include vp-1199 {
    height: auto;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100vw;
    height: 313px;
  }
}

.gym__video-wrapper {
  position: absolute;
  right: 359px;
  top: 288px;

  @include vp-1199 {
    position: static;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: -82px;
    right: 206px;
  }

  @include vp-767 {
    margin-top: 40px;
  }
}

.gym__video {
  position: relative;
  display: flex;
  width: 364px;
  height: 228px;
  background-size: 100%;
  background-image: linear-gradient($color-dark-cerulean), url("../img/gym-video.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;

  @include vp-1199 {
    height: 162px;
    width: 263px;
  }

  @include vp-767 {
    width: 100vw;
    min-width: 320px;
  }

  &.ready {
    .gym__video-play {
      display: none;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.gym__video-play {
  outline: none;
  align-self: center;
  margin: 0 auto;
  border-radius: 50px;
  background: url("../img/sprite/player-button.svg");
  border: none;
  width: 100px;
  height: 100px;
  transform: rotate(120deg);

  @include vp-1199 {
    background: url("../img/sprite/player-button-tablet.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    background: url("../img/sprite/player-button-hover.svg");
    cursor: pointer;
  }

  &:active {
    background: url("../img/sprite/player-button-active.svg");
  }

  &:disabled {
    background: url("../img/sprite/player-button-disabled.svg");
  }
}
