.navigation {
  display: flex;
  justify-content: space-between;
  font-family: "AlumniSans";
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navigation a {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.72px;
}

.navigation__number {
  font-size: 26px;
  letter-spacing: 0.78px;
}
