.super-games .container {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  padding-top: 130px;
  padding-bottom: 106px;
  width: 100%;
  color: $color-default-white;

  @include vp-1199 {
    padding-top: 110px;
    padding-bottom: 90px;
  }

  @include vp-767 {
    padding-bottom: 63px;
    grid-template-columns: minmax(290px, 1fr);
    padding-top: 155px;
  }
}

.super-games__banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: $color-torch-red;
  padding: 79px 79px 68px 78px;
  font-family: $ff-roboto-condensed;

  @include vp-1199 {
    padding: 48px 40px 47px 45px;
  }

  @include vp-767 {
    padding: 50px 41px;
  }
}

.super-games__banner-info {
  display: flex;
  gap: 58px;
  margin-bottom: 22px;
  align-items: center;

  @include vp-1199 {
    margin-bottom: 9px;
    gap: 35px;
  }

  @include vp-767 {
    justify-content: center;
  }

  h2 {
    font-family: $ff-alumni-sans;
    text-align: center;
    font-size: 82px;
    font-style: normal;
    font-weight: 600;
    line-height: 97%;
    display: inline-block;
    letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
    padding-left: 13px;
    width: min-content;
    margin-top: -7px;

    @include vp-1199 {
      font-size: 48px;
      letter-spacing: 1.44px;
      padding-left: 7px;
      margin-top: 0;
    }
  }

  dl {
    margin: 0;
    margin-top: 3px;

    @include vp-767 {
      margin: 0;
    }
  }

  dt {
    font-size: 18px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 1;
    }
  }

  dd {
    display: flex;
    gap: 7px;
    margin: 0;
    font-size: 40px;
    align-items: center;
    font-weight: 700;
    line-height: 1;
    position: relative;
    padding-top: 12px;

    @include vp-1199 {
      font-size: 24px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 5px;
      width: 100%;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  dd:not(:last-of-type) {
    margin-bottom: 19px;

    @include vp-1199 {
      gap: 3px;
      margin-bottom: 5px;
      padding-top: 8px;
    }
  }

  dd span {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    @include vp-1199 {
      font-size: 10px;
    }
  }
}

.super-games__image-wrapper {
  background-color: $color-sapphire;
}

.super-games__banner-description {
  margin-bottom: 50px;

  p {
    line-height: 1;
    letter-spacing: 0.1px;
    margin: 0;
    font-size: 18px;

    @include vp-1199 {
      font-size: 12px;
    }
  }

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    text-align: center;
  }
}


.super-games__banner-button {
  font-size: 12px;
  padding-top: 25px;
  padding-bottom: 25px;

  @include vp-1199 {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 205px;
  }
}

.super-games__image-wrapper img {
  width: 100%;
  height: 100%;
  background-color: $color-primary;
  object-fit: cover;
}
